<%= form_for @article do |f| %>
    <% if @article.errors.any? %>
        <h2><%= pluralize(@post.count,"error")%> prevented this article from saving:</h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <%= f.label :title%><br>
    <%= f.text_field :title%>
    <br><br>
    <%= f.label :content, "Write you article here" %><br>
    <%= f.text_area :content %>
    <br><br>
    <%= f.submit %>
<% end%>