<h1 id="page_title">Stuff i've written <br><br>
  <span class="new_button">
   <% if user_signed_in? %>
      <%= link_to 'New Article', new_article_path %>
   <% end %>
  </span>
</h1>
<div id="post_wrapper" class="skinny_wrapper">
  <% @articles.each do |article| %>
      <div class="post">
        <p class="date"><%= article.created_at.strftime('%A, %b %d')%></p>
        <h2><%= link_to article.title, article %></h2>
        <hr>
      </div>
  <% end%>
</div>
<%= will_paginate @articles %>
