<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @article.created_at.strftime( ' %A' ' %b' ' %d') %></p>
    <h1><%= @article.title %></h1>
    <hr>
  </header>

  <div id="content">
    <% author = ' By Adam Debbagh, Developer'%>
    <h6><%= author %></h6>
    <p><%= markdown @article.content %></p>
  </div>
  <% if user_signed_in? %>
      <div id="admin_links">
        <%= link_to 'edit', edit_article_path(@article) %>
        <%= link_to 'delete', article_path(@article), method: :delete, data: {
                                    confirm: "Are you sure you want to delete this post?"} %>
      </div>
  <% end %>
  <hr>

  <div id="share_box">
    <p>Share <%= @article.title %></p>
    <!-- Twitter -->
    <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @article.title %> by @AdamDebbagh - &amp;url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
    <!-- Facebook -->
    <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
    <!-- Google Plus -->
    <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@article, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus"></i></a>
  </div>
  <hr>
  <%= render 'articles/disqus'%>
</div>
