<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content" >
    <section>
        <h2>About</h2>
        <p>I'm a designer &amp; developer living in Washington dc Area.</p>
        <p>Quickly revolutionize emerging communities rather than just in time internal or "organic" sources. <a href="#">Dynamically</a> disseminate covalent relationships before state of the art expertise. Conveniently drive customer directed value via go forward niches. </p>
        <p>Quickly revolutionize emerging communities rather than just in time internal or "organic" sources. Dynamically disseminate covalent relationships before</p>
    </section>
  </div>
</div>
<div class="wrapper clearfix">
  <div class="col-2 homepage_content" >
    <aside>
        <h2>Latest Articles</h2>
        <% @articles.each do |article|%>
            <h3><%= link_to article.title, article %></h3>
            <p class="date"><%= article.created_at.strftime('%A' ' %b' ' %d')  %></p>
        <% end %>
    </aside>
  </div>
</div>
<div class="wrapper wrapper_padding clearfix">
  <div class="col-3 homepage_content">
    <aside>
        <h2>Latest Projects</h2>

        <% @projects.each do |project|%>
            <h3><%= link_to project.title, project %></h3>
            <p class="date"><%= project.created_at.strftime('%A, %b %d')  %></p>
        <% end %>
    </aside>

</div>
</div>