<h1 id="page_title">Projects i've built
  <br><br>
  <span class="new_button">
   <% if user_signed_in? %>
      <%= link_to 'New Project', new_project_path %>
   <% end %>
  </span>
</h1>

<div id="post_wrapper" class="skinny_wrapper">
  <% @projects.each do |project| %>
      <div class="post">
        <p class="date"><%= project.created_at.strftime('%A, %b %d')%></p>
        <h2><%= link_to project.title, project %></h2>
        <hr>
      </div>
  <% end%>
</div>
<%#= will_paginate @articles %>
