<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @project.created_at.strftime( ' %A' ' %b' ' %d') %></p>
    <h1><%= @project.title %></h1>



    <hr>
  </header>

  <div id="content">
    <% author = ' Developed By Adam Debbagh'%>
    <h6><%= author %></h6>
    <p><%= simple_format @project.description %></p>
    <div class="button_wrapper">
        <a href="<%=  @project.link%>"  target="_blank" class="button_link" >Visit <%= @project.title %></a>
    </div>
    <% if user_signed_in? %>
        <div id="admin_links">
          <%= link_to 'edit', edit_project_path(@project) %>
          <%= link_to 'delete', project_path(@project), method: :delete, data: {
                                      confirm: "Are you sure you want to delete this post?"
                              } %>
        </div>
    <% end %>
  </div>
  <hr>
</div>
