/*

 * require_tree .
 * require_self
 */
@import 'normalize';
$dark:#434652;
$light:#9a9da4;
$highlight:#8bc6db;
$border:#E9E9E9;
$white:#fff;
* {
  box-sizing:border-box;
}
body{
  font-family: 'Raleway', sans-serif;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
.wrapper_padding {
  padding: 4rem 0;
}
.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
h1,h2,h3,h4,h5,h6,p,ul,li {
  color: $dark;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.375rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p,li {
  font-size: 1.1rem;
  line-height: 1.75;
}
p,ul,ol {
  margin: 0 0 1.6em;
}
hr {
  width: 3em;
  height: 2px;
  display: block;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 2rem 0;
}
#main_navigation {
  padding: 2.5em 5%;
  border-bottom: 1px solid $border;
  .name {
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid #E9E9E9;
    padding: 1rem;
    text-decoration: none;
    color: $dark;
    float: left;
  }
  nav {
    float: right;
    padding-top: 1.5rem;
    a {
      text-decoration: none;
      color: $dark;
      margin: 0 .4rem;
      font-size: .9rem;
    }

  }
}
#main_footer {
  padding: 2.5em 5%;
  border-top: 2px solid $border;
  .copyright {
    float:left;
    font-size: .9em;
    margin: 0;
    a {
    text-decoration: none;
      color: $dark;
    }
  }
  nav {
    float: right;
    i {
      color: $dark;
      margin-left: 1em;
      padding-top: .2em;
      &:hover {
        color: $highlight;
      }
    }
  }

}

input[type="text"],input[type="email"],input[type="password"],textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid $border;
  padding: 1em;
  margin: .5em 0 2em 0;
}
textarea {
  min-height: 20em;
}
input[type="submit"] {
  outline: none;
  background: transparent;
  border: 2px solid $border;
  text-align: center;
  font-size: 1em;
  color: $dark;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
    border: 2px solid $highlight;
    color: $highlight;
  }
}

#admin_links {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  text-align: center;
  padding: 1em 0;
  margin: 3em 0;

  a {
    color: $light;
    margin: 0 1em;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.new_button {
  text-align: center;
  a {
    text-decoration: none;
    color: $highlight;
  }
}
.notice {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #E9E9E9;
  color: #009926;
}
.alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid #E9E9E9;
  color: #f8554d;
}


@import 'welcome';
@import 'articles';
@import 'contact';
@import 'article_show';
@import 'pygments';
@import 'projects';
@import 'contacts';
