.button_wrapper {
  margin: 4em 0 0 0;
  text-align: center;
}
.button_link {
  text-decoration: none;
  border: 1px solid $highlight;
  padding: .9em 2rem;
  text-align: center;
  background-color: $highlight;
  color: $white;
  &:hover {
    background-color: $dark;
    border-color: $dark;
    color: $white;
  }
}
