<footer id="main_footer">
  <p class="copyright">&copy;2015
    <%= link_to 'Adam Debbagh', new_user_session_path, class:'sign_in' %>
  </p>
  <nav>
    <a href="https://twitter.com/AdamDebbagh" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/Adamdebbagh" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.facebook.com/lhodeb" target="_blank"><i class="fa fa-facebook"></i></a>
  </nav>
</footer>