<header id="main_navigation" class="clearfix">
  <%= link_to 'ADAM DEBBAGH', root_path ,class:'name' %>
  <nav>
    <%= link_to 'Articles', articles_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Contact', new_contact_path %>
    <%if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>
  </nav>
</header>